$headerHeight: 50px;
$footerHeight: 25px;

$primaryBackgroundColor: #494949;
$secondaryBackgroundColor: #a4a4a4;

$primaryTextColor: #fff;
$secondaryTextColor: #1565c0;
$importantTextColor: #ef9d0d;
$secondaryHeaderColor: #ffce4c;
$secondaryHeaderColor2: #b76f00;

$primaryErrorColor: #b00020;
$secondaryErrorColor: #e94948;
