@import "../../../../../styles/constants.scss";

.terminal-wrapper {
    height: 200px;
    width: 100%;
    background-color: $primaryBackgroundColor;

    font-size: 1rem;
    font-weight: 500;
    font-family: monospace;

    .terminal {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        width: 100%;

        .prompt-wrapper {
            display: flex;
            color: $primaryTextColor;

            .prompt {
                margin-right: 5px;
                height: 20px;

                .identifier {
                    height: 100%;
                    color: $importantTextColor;
                }
                .path {
                    color: $secondaryTextColor;
                }
            }
        }

        .response-wrapper {
            .response {
                color: $primaryTextColor;
            }
        }

        .active-prompt {
            display: flex;

            .prompt-form {
                width: 100%;
                .input-wrapper {
                    width: 100%;
                    input {
                        width: 100%;

                        height: 20px;
                        min-height: 20px;

                        border: none;
                        box-shadow: none;
                        outline: none;

                        color: $primaryTextColor;
                        caret-color: $primaryTextColor;
                        background-color: $primaryBackgroundColor;

                        font-size: 1rem !important;
                        font-weight: 500 !important;
                        font-family: monospace !important;

                        &:active,
                        &:focus {
                            border: none;
                            box-shadow: none;
                            outline: none;
                        }
                    }
                }
            }
        }

        .response {
            margin: 0px;
        }
    }
}
