<div class="terminal-wrapper" appClickFocus>
    <div class="terminal">
        <ng-container *ngFor="let response of terminalContent">
            <div class="prompt-wrapper">
                <div class="prompt">
                    <span class="identifier">{{prompt}}</span>:<span class="path">{{path}}</span>$ {{response.command}}
                </div>
            </div>
            <div class="response-wrapper">
                <pre class="response" [innerHTML]="response.response"></pre>
                <pre class="response" [innerHTML]="response.message"></pre>
            </div>
        </ng-container>

        <div class="active-prompt prompt-wrapper">
            <div class="prompt">
                <span class="identifier">{{prompt}}</span>:<span class="path">{{path}}</span>$
            </div>
            <div class="prompt-form">
                <form [formGroup]="commandForm" (ngSubmit)="submit()">
                    <div class="input-wrapper">
                        <input pInputText type="text" autocomplete="off" id="active-input" class="active-input" formControlName="command" autofocus>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>