<div class="prompt">
    <div class="terminal-wrapper" appClickFocus>
        <div class="terminal">
            <ng-container *ngFor="let command of terminalContent">
                <div class="prompt-wrapper">
                    <div class="prompt" *ngIf="!command.hidePrompt">
                        <span class="identifier">{{'prompt.visitor' | translate}}@{{host}}</span>
                        <span>:</span>
                        <span class="path">{{path}}</span>$ {{command.command}} {{command.values}}
                    </div>
                </div>
                <div class="response-wrapper">
                    <ng-container [ngSwitch]="command.command">
                        <app-banner *ngSwitchCase="'banner'" class="response"></app-banner>
                        <app-help *ngSwitchCase="'help'" class="response"></app-help>
                        <app-history *ngSwitchCase="'history'" class="response"></app-history>
                        <app-language *ngSwitchCase="'language'" class="response" [values]="command.values"></app-language>
                        <app-uname *ngSwitchCase="'uname'" class="response"></app-uname>
                        <app-welcome *ngSwitchCase="'welcome'" class="response"></app-welcome>
                        <div *ngSwitchDefault class="response">
                            <span class="error-message">{{'prompt.command_not_found' | translate: { command: command.command} }}</span>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <div class="active-prompt prompt-wrapper">
                <div class="prompt">
                    <span class="identifier">{{'prompt.visitor' | translate}}@{{host}}</span>
                    <span>:</span>
                    <span class="path">{{path}}</span>$
                </div>
                <div class="prompt-form">
                    <form [formGroup]="commandForm" (ngSubmit)="submit()">
                        <div class="input-wrapper">
                            <input pInputText type="text" autocomplete="off" id="active-input" class="active-input"
                                formControlName="command" autofocus>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>