/* You can add global styles to this file, and also import other style files */

@import "./styles/constants.scss";

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2 {
    margin: 0;
    font-size: 30px;
}

h2 {
    margin: 0;
    font-size: 25px;
}

.prompt {
    pre {
        margin: 0;
    }

    .p-terminal-prompt,
    .p-terminal-command,
    .p-terminal-response {
        white-space: pre-wrap;
    }

    .p-terminal-content-prompt {
        margin-right: 5px;
    }

    .terminal-wrapper {
        height: 100vh !important;
        width: 100vw !important;
        .important-text {
            color: $importantTextColor;
        }

        a {
            color: $primaryTextColor;
        }
    }
}
