<pre>
                        <span class="important-text">{{config.mail}}</span>
                        ---------------------------
                        <span class="important-text">{{'prompt.commands.banner.name' | translate}}</span>: Sven Heidemann
    <span class="important-text">        ((</span>          <span class="important-text">{{'prompt.commands.banner.age' | translate}}</span>: {{age}}
    <span class="important-text">        ( `)</span>        <span class="important-text">{{'prompt.commands.banner.job' | translate}}</span>: {{'prompt.commands.banner.job_value' | translate}}
    <span class="important-text">        ; / ,</span>       <span class="important-text">Python</span>: {{'prompt.commands.banner.very_good' | translate}}
    <span class="important-text">       /  \/</span>        <span class="important-text">Angular</span>: {{'prompt.commands.banner.good' | translate}}
    <span class="important-text">      /  |</span>          <span class="important-text">.NET</span>: {{'prompt.commands.banner.good' | translate}}
    <span class="important-text">     /  ~/</span>          <span class="important-text">Linux</span>: {{'prompt.commands.banner.very_good' | translate}}
    <span class="important-text">    / )  )</span>          <span class="important-text">Windows</span>: {{'prompt.commands.banner.very_good' | translate}}
    <span class="important-text">___// | /</span>           <span class="important-text">Mac</span>: {{'prompt.commands.banner.bad' | translate}}
    <span class="important-text">`--'  \_~-,</span>         <span class="important-text">Gitea</span>: <a [href]="config.gitea" target="_blank">{{config.gitea}}</a>
                        <span class="important-text">Github</span>: <a [href]="config.github" target="_blank">{{config.github}}</a>
                        <span class="important-text">Discord</span>: <a [href]="config.discord" target="_blank">{{config.discord}}</a>
                        <span class="important-text">Mail</span>: <a [href]="config.mail" target="_blank">{{config.mail}}</a>
</pre>